<!DOCTYPE html>
<html>
    <body>
        {% for i in items %}
        {{i.eID }}
        {{i.currentORfuture }}
        {{i.place }} 
        {{i.eName }} </br>
        {{i.period }}
        {{i.room }} </br>
        {{i.childPrice }}
        {{i.teenPrice }}
        {{i.adultPrice }} </br></br>
        <form action="{{url_for('comment', eID = i.eID,ID5=ID4)}}" method = 'POST'>
            <ul>
                <li>
                    <label for="msg">comment</label>
                    <textarea id="msg" name="user_message"></textarea>
                </li>
                <li class="button">
                    <button type="submit">upload</button>
                </li>
             </ul>
       </form>
       <form action="{{url_for('reserve',ID6=ID4,e=i.eID)}}" method = 'POST'>
            <li class="button2">
                <button type="submit">reserve</button>
            </li>
        </form>


        {% endfor %}

        {% for j in datas %}
        {{j.cName }}
        {{j.content }}</br></br>
        {% endfor %}
    </body>
</html>
