<!DOCTYPE html>
<html>
    <head>
        <h1>회원가입</h1>
    </head>
<body>
    <form action="{{url_for('save_users')}}" method = 'POST'>
        <p>Name</p>
        <input type = 'text', name = 'Name'>
        <p>ID</p>
        <input type = 'text', name = 'uid'>
        <p>PW</p>
        <input type = 'password', name = 'pw'>
        <p>생년월일</p>
        <input type = 'int', name = 'birth'>
        <p>phone number</p>
        <input type = 'int', name = 'phone'>
        <p>e-mail</p>
        <input type = 'email', name = 'email'>
        <input type='submit' value = 'Sign up'>
    </form>
</body>
</html>
